{{#if query}}
    {{#if nome}}
    <h1>It's a pleasure to meet you {{nome}}</h1>
    {{/if}}
    {{#if cognome}} 
    <h1>{{cognome}}</h1>
    {{/if}}
    {{#if anni}}
    <h2>You are {{anni}}.</h1>
    {{/if}}
{{/if}}

{{#if headers}}
    <h2>Come on, <b>{{connection}}</b> the connection!!! It was said by the header.</h2>
{{/if}}