<h2>Liste of my most hated God of War character</h2>
<ul>
    <li class="trash">Atreus</li>
    <li class="trash">Atreus</li>
    <li class="trash">Atreus</li>
    <li class="infamone">Griffith</li>
    <li class="trash">Il marinaio</li>
</ul>