<h2>Liste of my most loved Berserk character</h2>
<ul>
    <li class="op">Gatsu</li>
    <li class="crazy">Caska</li>
    <li class="piro">Er cinno piromane</li>
    <li class="loli">Maghetta</li>
    <li class="rip">Bambino trucidato</li>
</ul>