{{#if query}}
    {{#if nome}}
    <h1>It's a pleasure to meet you {{nome}}</h1>
    {{/if}}
    {{#if cognome}} 
    <h1>{{cognome}}</h1>
    {{/if}}
    {{#if anni}}
    <h2>You are {{anni}}.</h1>
    {{/if}}
{{/if}}
